.sidenav {
  background-color: orange;
}

.sidenav li > * {
  color: white !important;
}

.indigo {
}

.preview {
  width: auto;
  height: 200px !important;
}

.container a {
  padding-left: 20px;
}

.card:hover {
  border: red solid 2px;
}

.card-main-image {
  max-width: 250px !important;
}

label > span {
  display: inline !important;
}
